/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFC0CB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: calc(100% - 250px); /* ลดขนาดให้พอดีกับ Sidebar */
  top: 0;
  left: 250px; /* เลื่อนให้ไม่บัง Sidebar */
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #FF69B4;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.nav-item:hover {
  color: #FF69B4;
  font-weight: bold;
}
